<!DOCTYPE html>
<html class="fixed" lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<!-- start: page -->
	<section class="body-sign">
		<div class="center-sign">
			<div class="panel panel-sign">
				<div class="panel-title-sign mt-xl text-right">
					<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Acceso al Sistema</h2>
				</div>
				<div class="panel-body">
					<form method="post" th:action="@{/login}">
						<div class="form-group mb-lg">
							<label>Usuario</label>
							<div class="input-group input-group-icon">
								<input name="username" id="username" type="text" class="form-control input-lg" />
								<span class="input-group-addon">
									<span class="icon icon-lg">
										<i class="fa fa-user"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="form-group mb-lg">
							<label>Contrase&ntilde;a</label>
							<div class="input-group input-group-icon">
								<input name="password" id="password" type="password" class="form-control input-lg" />
								<span class="input-group-addon">
									<span class="icon icon-lg">
										<i class="fa fa-lock"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="row" th:if="${param.error}">
							<div class="col-sm-12">
								<div class="alert alert-danger">
  									<p class="text-center"><strong>INVALID USERNAME OR PASSWORD</strong></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="checkbox-custom checkbox-default">
									<input id="RememberMe" name="rememberme" type="checkbox"/>
									<label for="RememberMe">Recordarme</label>
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<button type="submit" id="btnLogin" class="btn btn-primary mt-2">Iniciar sesion</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- end: page -->
	<th:block th:replace="fragments/script :: script"></th:block>
	<!--<script type="text/javascript" th:src="@{/assets/javascripts/app/login.js}"></script>-->
</body>
</html>