<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Cuentas</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row" id="listadoPersonaRegistro">
						<div class="col-md-12 col-lg-12">
							<div class="tabs tabs-primary">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#personas" data-toggle="tab"><i class="fa fa-book"></i> Internet</a>
									</li>
									<li>
										<a href="#clientes" data-toggle="tab"><i class="fa fa-book"></i> Cable</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="personas" class="tab-pane active">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Cuentas Internet</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaCuentasInternet" width="100%">
													<thead class="text-center">
														<tr>
															<th>#</th>
															<th>Codigo Cuenta</th>
															<th>DNI-RUC</th>
															<th>Cliente</th>
															<th>Direccion Cliente</th>
															<th>Fecha Instalacion</th>
															<th>Acciones</th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
									<div id="clientes" class="tab-pane">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Cuentas Cable</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaClientes" width="100%">
													<thead class="text-center">
														<tr>
															<th>DNI-RUC</th>
															<th style="width:210px;">Cliente</th>
															<th style="width:210px;">Direccion Actual</th>
															<th style="width:165px;">Facebook Cliente</th>
															<th>Correo</th>
															<th>Activo</th>
															<th>Acciones</th>
															<th></th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
					</div>
				</section>
			</div>
		</section>
		<th:block th:replace="fragments/script :: script"></th:block>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/cuentas.js}"></script>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>