<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}"><i class="fa fa-home"></i></a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Generar Cuenta</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-4 col-lg-4 mb-xs">
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">
										<span class="va-middle">Buscar Cliente</span>
									</h2>
								</header>
								<div class="panel-body">
									<div class="content">
										<form method="post" role="form">
											<div class="input-group input-search">
												<input type="text" class="form-control" id="busqueda" placeholder="Search..."> 
													<span class="input-group-btn">
														<button id="buscarCliente" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
													</span>
											</div>
										</form>
									</div>
								</div>
								<div class="panel-footer">
								</div>
							</section>
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">
										<span class="va-middle">Servicios</span>
									</h2>
								</header>
								<div class="panel-body">
									<div class="content">
										<div class="row">
											<div class="col-md-12 form-group">
												<label for="tipoServicio">Servicios</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-tags"></i>
													</span>
													<select  class="form-control populate" id="tipoServicio">
														<option value="">Seleccione un Servicio</option>
														<option value="IC">Internet Color</option>
														<option value="CC">Cable Color</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer">
								</div>
							</section>
						</div>
						<div class="col-md-8 col-lg-8 col-xl-8 col-sm-8">
							<section class="panel panel-featured-right panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Generar Cuenta</h2>
								</header>
								<div class="panel-body">
									<form role="form" method="post">
										<div class="row">
											<div class="col-md-6 col-sm-6 form-group">
												<label for="documentoPersonaCliente">DNI/RUC</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="text" class="form-control input-sm" id="documentoPersonaCliente" placeholder="Numero Documento">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="detalleCuentaCliente">Cliente</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="detalleCuentaCliente" placeholder="Cliente">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="detalleCuentaDireccion">Direccion</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="detalleCuentaDireccion" placeholder="Direccion">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="detalleCuentaReferenciaDireccion">Referencia</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="detalleCuentaReferenciaDireccion" placeholder="Referencia">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="detalleCuentaAnio">A&ntilde;o</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
													<input type="text" class="form-control input-sm" id="detalleCuentaAnio" placeholder="A&ntilde;o">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="detalleCuentaObservacion">Observacion</label>
												<textarea class="form-control" rows="3" id="detalleCuentaObservacion"></textarea>
											</div>
											<div class="col-md-12 form-group">
												<button type="submit" id="generarCuenta" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Generar Cuenta</button>
												<button type="button" id="cancelarAccion" class="btn btn-sm btn-danger"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
											</div>
										</div>
									</form>
								</div>
							</section>
						</div>
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/detallecuenta.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>