<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}"><i class="fa fa-home"></i></a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Re - Programacion</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">
										<span class="va-middle">Servicios</span>
									</h2>
								</header>
								<div class="panel-body">
									<div class="content">
										<div class="row">
											<div class="col-md-12 form-group">
												<label for="tipoServicio">Servicios</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-tags"></i>
													</span>
													<select  class="form-control populate" id="tipoServicio">
														<option value="">Seleccione un Servicio</option>
														<option value="IC">Internet Color</option>
														<option value="CC">Cable Color</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-6 col-sm-6">
							<section class="panel panel-featured-right panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Re - Programacion</h2>
								</header>
								<div class="panel-body">
									<div class="content">
										<div class="row">
											<div class="col-md-12 form-group">
												<button type="button" id="reprogramacionDelDia" class="btn btn-sm btn-success btn-block"><i class="fa fa-calendar"></i> Reprogramar Instalaciones del dia</button>
											</div>
											<div class="col-md-12 col-sm-12 form-group">
												<label for="detalleCuentaReferenciaDireccion">Instalaciones Pendientes</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-tag"></i>
													</span>
													<input type="text" class="form-control input-sm" id="contador" placeholder="Contador">
												</div>
											</div>
											<div class="col-md-12 form-group">
												<button type="button" id="reprogramacionPendientes" class="btn btn-sm btn-warning btn-block"><i class="fa fa-calendar"></i> Reprogramar Instalaciones Pendientes</button>
											</div>
										</div>
									</div>								
								</div>
							</section>
						</div>		
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/reprogramacion.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
	
</body>
</html>