<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}"><i class="fa fa-home"></i></a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Instalaciones del Dia</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row" id="listadoInstalaciones">
						<div class="col-md-4 col-lg-4 mb-xs">
							<button type="button" id="btnReporteActivaciones" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Generar Reporte de Activaciones</button>
						</div>
						<div class="col-md-4 col-lg-4 mb-xs">
							<button type="button" id="btnReporteActivacionesPorDia" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Reporte de Activaciones por Dia</button>
						</div>
						<div class="col-md-4 col-lg-4 mb-xs">
							<button type="button" id="btnReporteActivacionesPorRango" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Reporte de Activaciones por Rango de Fecha</button>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="tabs tabs-primary">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#internet" data-toggle="tab"><i class="fa fa-briefcase"></i> Internet</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="internet" class="tab-pane active">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Activaciones Pendientes Internet Color</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaActivacionesDiaInternet" width="100%">
													<thead class="text-center">
														<tr>
															<th>#</th>
															<th>Codigo Servicio</th>
															<th>DNI-RUC</th>
															<th>Cliente</th>
															<th>Direccion</th>
															<th>Referencia</th>
															<th>Telefono</th>
															<th>Fecha Registrada</th>
															<th>Acciones</th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="modalFormActivacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabelActivacion" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form role="form">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelActivacion">Activar</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6 col-lg-6 form-group">
												<label for="valorcodigocuenta">Codigo</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="valorcodigocuenta" placeholder="Serie ONU">
												</div>
				   							</div>
				   							<div class="col-md-6 col-lg-6 form-group">
												<label for="numerodeserie">Serie</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="numerodeserie" placeholder="Serie ONU">
												</div>
				   							</div>
				   							<div class="col-md-6 col-sm-6 form-group">
												<label for="maconu">Mac</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="maconu" placeholder="Mac ONU">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="useronu">User</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="useronu" placeholder="User ONU">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="passonu">Password</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="passonu" placeholder="Password ONU">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="pononu">Pon</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="pononu" placeholder="Pon ONU">
												</div>
											</div>
										</div>
										<div class="modal-footer">
												<button type="button" id="cancelarModal" class="btn btn-default" data-dismiss="modal">Cancelar</button>
												<button type="submit" id="agregarActivacion" class="btn btn-primary"><i class="fa fa-check"></i> Agregar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal fade" tabindex="-1" id="modalActivacionesPorRangoFecha" role="dialog" aria-labelledby="myModalLabelActivacionesPorRangoFecha" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form role="form" method="post" id="formPagosPorRangoFecha">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelActivacionesPorRangoFecha">Busqueda de Activaciones Por Rango de Fecha</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6 col-lg-6 form-group">
												<label for="fechaInicialBusqueda">Fecha Inicial</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
													<input type="date" class="form-control input-sm" id="fechaInicialBusqueda">
												</div>
											</div>
											<div class="col-md-6 col-lg-6 form-group">
												<label for="fechaFinBusqueda">Fecha Final</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
													<input type="date" class="form-control input-sm" id="fechaFinBusqueda">
												</div>
											</div>											
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" id="cancelarAccionBuscarActivacionesPorRango" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<button type="submit" id="buscarActivacionesPorRango" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal fade" tabindex="-1" id="modalActivacionesPorDia" role="dialog" aria-labelledby="myModalLabelActivacionesPorDia" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form role="form" method="post" id="formPagosPorDia">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelActivacionesPorDia">Busqueda de Activaciones Por Dia</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12 form-group">
												<label for="fechaBusqueda">Fecha Busqueda</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
													<input type="date" class="form-control input-sm" id="fechaBusqueda">
												</div>
											</div>											
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" id="cancelarAccionBuscarActivacionesPorDia" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<button type="submit" id="buscarActivacionesPorDia" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/activaciones.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>