<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}"><i class="fa fa-home"></i></a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Informe Instalacion</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="tabs tabs-primary">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#informeInternet" data-toggle="tab"><i class="fa fa-briefcase"></i> Internet</a>
									</li>
									<li>
										<a href="#informeCable" data-toggle="tab"><i class="fa fa-briefcase"></i> Cable</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="informeInternet" class="tab-pane active">
										<div class="row">
											<div class="col-md-4 col-lg-4 mb-xs">
												<button type="button" id="cancelarAccion" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Exportar Datos</button>
											</div>
											<div class="col-md-12 col-lg-12">
												<section class="panel panel-featured panel-featured-primary panel-primary">
													<header class="panel-heading">
														<h2 class="panel-title">Informe Instalacion Internet</h2>
													</header>
													<div class="panel-body">
														<table class="table table-hover table-striped table-condensed mb-none" id="tablaInformeInstalacionInternet" width="100%">
															<thead>
																<tr>
																	<th class="text-center">#</th>
																	<th class="text-center">Codigo Cuenta</th>
																	<th class="text-center">DNI-RUC</th>
																	<th class="text-center">Cliente</th>
																	<th class="text-center">Estado Instalacion</th>
																	<th class="text-center">Tecnico Responsable</th>
																</tr>
															</thead>
														</table>
													</div>
												</section>
											</div>
										</div>	
									</div>
									<div id="informeCable" class="tab-pane">
										<div class="row">
											<div class="col-md-4 col-lg-4 mb-xs">
												<button type="button" id="cancelarAccion" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Exportar Datos</button>
											</div>
											<div class="col-md-12 col-lg-12">
												<section class="panel panel-featured panel-featured-primary panel-primary">
													<header class="panel-heading">
														<h2 class="panel-title">Informe Instalacion Cable</h2>
													</header>
													<div class="panel-body">
														<table class="table table-hover table-striped table-condensed mb-none" id="tablaInformeInstalacionCable" width="100%">
															<thead class="text-center">
																<tr>
																	<th>Realizar Corte ?</th>
																	<th>Codigo Servicio Internet</th>
																	<th>DNI-RUC</th>
																	<th>Cliente</th>
																	<th>Deuda</th>
																</tr>
															</thead>
														</table>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/informeinstalaciones.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>