<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
		<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
		<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Persona - Empleados</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row" id="listadoPersonasEmpleadosRegistro">
						<div class="col-md-4 col-lg-4">
							<button type="button" id="btnAgregarPersonaEmpleado" class="mb-xs btn-sm btn-block btn btn-primary"><i class="fa fa-plus-circle"></i> Agregar Persona - Empleado</button>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="tabs tabs-primary">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#personas" data-toggle="tab"><i class="fa fa-users"></i> Personas</a>
									</li>
									<li>
										<a href="#empleados" data-toggle="tab"><i class="fa fa-users"></i> Empleados</a>
									</li>
									<li>
										<a href="#empleadosplanta" data-toggle="tab"><i class="fa fa-users"></i> Empleados Planta</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="personas" class="tab-pane active">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Personas</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaPersonasEmpleados" width="100%">
													<thead class="text-center">
														<tr>
															<th style="width:100px">DNI-RUC</th>
															<th style="width:100px">Nombre</th>
															<th style="width:150px">Apellido Paterno</th>
															<th style="width:150px">Apellido Materno</th>
															<th style="width:170px">Direccion Actual</th>
															<th style="width:150px">Referencia</th>
															<th style="width:50px;">Telefono</th>
															<th style="width:160px">Empleados</th>
															<th style="width:10px">Acciones</th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
									<div id="empleados" class="tab-pane">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Empleados</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaEmpleados" width="100%">
													<thead class="text-center">
														<tr>
															<th>Codigo Empleado</th>
															<th>DNI-RUC</th>
															<th>Cargo</th>
															<th>Activo</th>
															<th>Acciones</th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
									<div id="empleadosplanta" class="tab-pane">
										<section class="panel panel-featured panel-featured-primary panel-primary">
											<header class="panel-heading">
												<h2 class="panel-title">Listado de Empleados - Planta</h2>
											</header>
											<div class="panel-body">
												<table class="table table-hover table-striped table-condensed mb-none" id="tablaEmpleadosPlanta" width="100%">
													<thead class="text-center">
														<tr>
															<th>Codigo Empleado</th>
															<th>DNI-RUC</th>
															<th>Empleado</th>
															<th>Direcccion</th>
															<th>Telefono</th>
															<th>Cargo</th>
															<th>Planta?</th>
															<th>Acciones</th>
														</tr>
													</thead>
												</table>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="formularioPersonaEmpleadosRegistro">
						<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Formulario Personas</h2>
								</header>
								<div class="panel-body">
									<form role="form" method="post">
										<div class="row">
											<div class="col-md-6 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="text" class="form-control input-sm" id="documentoPersona" placeholder="Numero Documento">
												</div>
											</div>
											<div class="col-md-6 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<select class="form-control populate" id="codigoUbigeo"></select>
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="nombrePersona" placeholder="Nombre">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="apellidoPaternoPersona" placeholder="Apellido Paterno">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="apellidoMaternoPersona" placeholder="Apellido Materno">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="direccionReniecPersona" placeholder="Direccion RENIEC">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="direccionActualPersona" placeholder="Direccion Actual">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="referenciaPersona" placeholder="Referencia Direccion">
												</div>
											</div>
											<div class="col-md-4 form-group">
											 	<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-phone"></i>
													</span>
													<input type="text" class="form-control input-sm" id="telefonoUnoPersona" placeholder="Telefono 1">
												</div>
											</div>
											<div class="col-md-4 form-group">
											 	<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-phone"></i>
													</span>
													<input type="text" class="form-control input-sm" id="telefonoDosPersona" placeholder="Telefono 2">
												</div>
											</div>
											<div class="col-md-4 form-group">
											 	<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-phone"></i>
													</span>
													<input type="text" class="form-control input-sm" id="telefonoTresPersona" placeholder="Telefono 3">
												</div>
											</div>
											<div class="col-md-12 form-group">
												<button type="submit" id="guardarPersona" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar</button>
												<button type="button" id="cancelarAccion" class="btn btn-sm btn-danger"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
											</div>											
										</div>
									</form>
								</div>
							</section>
						</div>
					</div>
					<div class="row" id="formularioEmpleadosRegistro">
						<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
							<section class="panel panel-featured-right panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Formulario Empleados</h2>
								</header>
									<div class="panel-body">
										<form role="form" method="post">
											<div class="col-md-12 form-group">
												<div class="input-group mb-md">
													<input type="hidden" class="form-control input-sm" id="codigoEmpleado">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="text" class="form-control input-sm" id="documentoPersonaEmpleado">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="empleadoNombrePersona">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="empleadoApellidosPersona">
												</div>
											</div>
											<div class="col-md-4 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-suitcase"></i>
													</span>
													<select  class="form-control populate" id="codigoCargo">
													</select>
												</div>
											</div>
											<div class="col-md-12 form-group">
												<button type="submit" id="guardarEmpleado" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Guardar Empleado</button>
												<button type="button" id="cancelarAccionEmpleado" class="btn btn-sm btn-danger"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
											</div>
										</form>	
									</div>
								</section>
							</div>
					</div>
					<!-- end: page -->
					<div class="modal fade" id="modalDetalleEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEmpleado" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelEmpleado"></h4>
									</div>
									<div class="modal-body">
										<form role="form">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleEmpleadoDocumento">DNI</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-credit-card"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleEmpleadoDocumento" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleEmpleadoNombre">Nombre y Apellido</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-user"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleEmpleadoNombre" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleEmpleadoDireccionActual">Direccion Actual</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-home"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleEmpleadoDireccionActual" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleEmpleadoTelefonoUno">Telefono Uno</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-phone"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleEmpleadoTelefonoUno" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleCodigoCliente">Codigo Empleado</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-tags"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleCodigoEmpleado" readonly="readonly">
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 form-group">
													<label for="detalleClienteNombreComercial">Cargo</label>
													<div class="input-group mb-md">
														<span class="input-group-addon">
															<i class="fa fa-suitcase"></i>
														</span>
														<input type="text" class="form-control input-sm" id="detalleCargoEmpleado" readonly="readonly">
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
						<input style="display:none" id="canje" name="canje" value="0"></input>
						<input style="display:none" id="canjes" name="canjes" value="0"></input>
						<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/empleado.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>