<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Administracion</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">Grafica de Linea de Ventas</h2>
									<p class="panel-subtitle">Reporte Grafico de Ventas por Dia</p>
								</header>
								<div class="panel-body">
									<!-- Morris: Line -->
									<div class="chart chart-md" id="morrisLineVentasPorDia"></div>
								</div>
							</section>
						</div>
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">Grafica Circular de Ventas por Vendedor</h2>
									<p class="panel-subtitle">Reporte Grafico de Ventas Realizadas por Vendedor</p>
								</header>
								<div class="panel-body">
									<!-- Morris: Donut -->
									<div class="chart chart-md" id="morrisDonutGraficaVentasPorVendedor"></div>
								</div>
							</section>
						</div>
						<div class="col-md-12">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">Grafica de Instalaciones Realizadas por Dia</h2>
									<p class="panel-subtitle">Reporte Grafico de Instalaciones Realizadas por Dia</p>
								</header>
								<div class="panel-body">
									<!-- Morris: Area -->
									<div class="chart chart-md" id="morrisAreaGraficaInstalacionesPorDia"></div>
								</div>
							</section>
						</div>	
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/reportesgraficosventas.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>