<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
			<!-- start: header -->
				<header th:replace="fragments/header :: header"></header>
			<!-- end: header -->
			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside th:replace="fragments/sidebar :: sidebar"></aside>
				<!-- end: sidebar -->
				<section role="main" class="content-body">
					<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Perfil Usuario</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<section class="panel">
								<div class="panel-body">
									<div class="thumb-info mb-md">
										<img th:src="@{/assets/images/default_user.png}" class="rounded img-responsive" alt="John Doe">
										<div class="thumb-info-title">
											<span class="thumb-info-inner" id="usuarioPerfil"></span>
											<span class="thumb-info-type" id="cargoPerfil"></span>
										</div>
									</div>
									<div class="widget-toggle-expand mb-md">
										<div class="widget-header">
											<h6>INFORMACION PERSONAL</h6>
											<div class="widget-toggle">+</div>
										</div>
										<div class="widget-content-expanded">
											<ul class="simple-todo-list">
												<li class="completed">Update Profile Picture</li>
												<li class="completed">Change Personal Information</li>
											</ul>
										</div>
									</div>
									<hr class="dotted short">
									<h6 class="text-muted">Descripcion</h6>
									<p id="descripcionCargoUsuarioPerfil"></p>
									<hr class="dotted short">
									<div class="social-icons-list">
										<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
										<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
										<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-8 col-lg-8">
							<section class="panel panel-featured panel-featured-primary panel-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Detalle Cuenta</h2>
								</header>
								<div class="panel-body">
									<form role="form" method="post">
										<div class="row">
											<div class="col-md-6 col-sm-6 form-group">
												<label for="nombresUsuarioPerfil">Nombres</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="nombresUsuarioPerfil" placeholder="Nombres">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="apellidosUsuarioPerfil">Apellidos</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="apellidosUsuarioPerfil" placeholder="Apellidos">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="cargoUsuarioPerfil">Cargo</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-bookmark"></i>
													</span>
													<input type="text" class="form-control input-sm" id="cargoUsuarioPerfil" placeholder="Cargo">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="direccionUsuarioPerfil">Direccion</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-home"></i>
													</span>
													<input type="text" class="form-control input-sm" id="direccionUsuarioPerfil" placeholder="Direccion">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="telefonoUsuarioPerfil">Telefono</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-phone"></i>
													</span>
													<input type="text" class="form-control input-sm" id="telefonoUsuarioPerfil">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="nombreUsuarioPerfil">Usuario</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" id="nombreUsuarioPerfil" placeholder="Usuario">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="passwordUsuarioPerfil">Contrase&ntilde;a Actual</label> <i class="fa fa-eye" id="showActualPassword"></i>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-lock"></i>
													</span>
													<input type="password" class="form-control input-sm" id="passwordUsuarioPerfil">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 form-group">
												<label for="nuevoPasswordUsuarioPerfil">Nueva Contrase&ntilde;a</label> <i class="fa fa-eye" id="showNewPassword"></i>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-lock"></i>
													</span>
													<input type="password" class="form-control input-sm" id="nuevoPasswordUsuarioPerfil">
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<label for="confirmarPasswordUsuarioPerfil">Confirmar Contrase&ntilde;a</label> <i class="fa fa-eye" id="showPassword"></i>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-lock"></i>
													</span>
													<input type="password" class="form-control input-sm" id="confirmarPasswordUsuarioPerfil">
												</div>
											</div>
											<div class="col-md-12 form-group">
												<button type="submit" id="actualizarUsuarioPerfil" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Actualizar Informacion</button>
											</div>
										</div>
									</form>
								</div>
							</section>
						</div>
	
					</div>
					<!-- end: page -->
					</div>
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>				
				</section>
			</div>
		</section>
		
		<th:block th:replace="fragments/script :: script"></th:block>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/perfilusuario.js}"></script>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>