<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
			<!-- start: header -->
				<header th:replace="fragments/header :: header"></header>
			<!-- end: header -->
			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside th:replace="fragments/sidebar :: sidebar"></aside>
				<!-- end: sidebar -->
				<section role="main" class="content-body">
					<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Usuarios</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<button type="button" data-toggle="modal" id="btnAgregarUsuario" class="mb-xs btn-sm btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Agregar Usuario</button>
						</div>
						<div class="col-md-12 col-lg-12">
							<section class="panel panel-featured panel-featured-primary panel-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Listado de Usuarios</h2>
								</header>
								<div class="panel-body">
									<table class="table table-hover table-striped table-condensed mb-none" id="datatable-default" width="100%">
									<thead class="text-center">
										<tr>
											<th>#</th>
											<th>Usuario</th>
											<th>Password</th>
											<th>Documento</th>
											<th>Estado</th>
											<th>Acciones</th>
										</tr>
									</thead>
								</table>
								</div>
							</section>
						</div>
					</div>
					<!-- end: page -->
					</div>
					<div class="modal fade" tabindex="-1" id="modalAgregarUsuario" role="dialog" aria-labelledby="myModalLabelUsuario" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form role="form" method="post">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelUsuario">Nuevo Usuario</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12 form-group">
												<div class="col-md-12">
													<input type="hidden" class="form-control" id="usuarioId">
												</div>
											</div>
											<div class="col-md-12 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-key"></i>
													</span>
													<input type="text" class="form-control input-sm" id="nombreUsuario" placeholder="Nombre Usuario">
												</div>
											</div>
											<div class="col-md-12 form-group">
											 	<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-lock"></i>
													</span>
													<input type="password" class="form-control input-sm" id="passwordUsuario" placeholder="Password Usuario">
												</div>
											</div>
											<div class="col-md-12 form-group">
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="text" class="form-control input-sm" id="documentoUsuario" placeholder="Numero Documento">
												</div>
											</div>											
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" id="cancelarAccion" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<button type="submit" id="guardarUsuario" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
									</div>
								</form>
							</div>
						</div>
						<input style="display:none" id="canje" name="canje" value="0"></input>
						<input style="display:none" id="canjes" name="canjes" value="0"></input>
						<input style="display:none" id="canjess" name="canjess" value="0"></input>
					</div>				
				</section>
			</div>
		</section>
		
		<th:block th:replace="fragments/script :: script"></th:block>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/usuario.js}"></script>
		<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>
</html>