<!DOCTYPE html>
<html lang="es" class="fixed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
			<!-- start: header -->
				<header th:replace="fragments/header :: header"></header>
			<!-- end: header -->
			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside th:replace="fragments/sidebar :: sidebar"></aside>
				<!-- end: sidebar -->
				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard</span></li>
							</ol>
						</div>
					</header>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<section class="panel panel-featured panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Usuarios</h2>
									<p class="panel-subtitle"><button type="button" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fa fa-plus-circle"></i> Agregar Usuario</button></p>
								</header>
								<div class="panel-body">
									<table class="table table-bordered table-striped mb-none" id="datatable-default">
									<thead>
										<tr>
											<th>Rendering engine</th>
											<th>Browser</th>
											<th>Platform(s)</th>
											<th class="hidden-phone">Engine version</th>
											<th class="hidden-phone">CSS grade</th>
										</tr>
									</thead>
									<tbody>
										<tr class="gradeX">
											<td>Trident</td>
											<td>Internet
												Explorer 4.0
											</td>
											<td>Win 95+</td>
											<td class="center hidden-phone">4</td>
											<td class="center hidden-phone">X</td>
										</tr>
										<tr class="gradeC">
											<td>Trident</td>
											<td>Internet
												Explorer 5.0
											</td>
											<td>Win 95+</td>
											<td class="center hidden-phone">5</td>
											<td class="center hidden-phone">C</td>
										</tr>
										<tr class="gradeA">
											<td>Trident</td>
											<td>Internet
												Explorer 5.5
											</td>
											<td>Win 95+</td>
											<td class="center hidden-phone">5.5</td>
											<td class="center hidden-phone">A</td>
										</tr>
										<tr class="gradeA">
											<td>Trident</td>
											<td>Internet
												Explorer 6
											</td>
											<td>Win 98+</td>
											<td class="center hidden-phone">6</td>
											<td class="center hidden-phone">A</td>
										</tr>
										<tr class="gradeA">
											<td>Trident</td>
											<td>Internet Explorer 7</td>
											<td>Win XP SP2+</td>
											<td class="center hidden-phone">7</td>
											<td class="center hidden-phone">A</td>
										</tr>
									</tbody>
								</table>
								</div>
							</section>
						</div>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
		<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>