<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Modulo de Atencion</span>
							</li>
						</ol>
					</div>
					<div class="row" id="mostrarListadoClientesAtencion">
						<div class="col-md-3 col-lg-3 mb-xs">
							<button type="button" id="cancelarAccion" class="btn btn-block btn-sm btn-danger"><i class="fa fa-pencil-square-o"></i> Tareas</button>
						</div>
						<div class="col-md-3 col-lg-3 mb-xs">
					     	<button type="button" id="buttonReclamos" class="btn btn-block btn-sm btn-primary"><i class="fa fa-volume-up"></i> Reclamos</button>
					    </div>
					    <div class="col-md-3 col-lg-3 mb-xs">
					    	<button type="button" id="cancelarAccion" class="btn btn-block btn-sm btn-success"><i class="fa fa-download"></i> Exportar Datos</button>
					    </div>
					    <div class="col-md-3 col-lg-3 mb-xs">
					     	<button type="button" id="buttonHerramientas" class="btn btn-block btn-sm btn-warning"><i class="fa fa-book"></i> Herramientas</button>
					   	</div>
						<div class="col-md-12 col-lg-12">
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Atencion</h2>
								</header>
								<div class="panel-body">
									<section class="panel panel-featured panel-featured-primary panel-primary">
										<header class="panel-heading">
											<h2 class="panel-title">Listado de Clientes</h2>
										</header>
										<div class="panel-body">
											<table class="table table-hover table-striped table-condensed mb-none" id="tablaClientesAtencion" width="100%">
												<thead class="text-center">
													<tr>
														<th>Estado</th>
														<th style="width:150px;">DNI - RUC Cliente</th>
														<th style="width:235px;">Cliente</th>
														<th>Herramienta</th>
														<th>Falta Responder?</th>
														<th>Detalle</th>
														<th>Acciones</th>
													</tr>
												</thead>
											</table>
										</div>
									</section>
								</div>
							</section>
						</div>
					</div>
					<div class="row" id="mostrarDatosGeneralesCliente">
						<div class="col-md-12 col-lg-12">
							<section class="panel panel-featured-left panel-featured-primary">
								<header class="panel-heading">
									<h2 class="panel-title" id="nombreCliente"></h2>
								</header>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-lg-4">
											<section class="panel panel-featured panel-featured-primary">
												<div class="panel-body">
													<div class="row">
														<section >
															<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0DgeTYy2OJPBc7PFucKvRNDWwtDSYCx0xbeiKKvNs4Q06EC-r">
														</section>
													</div>
												</div>
											</section>
										</div>
										<div class="col-md-8 col-lg-8">
											<section class="panel panel-featured panel-featured-primary">
												<div class="panel-body">
													<div class="row">
														<div class="col-md-12 col-lg-12">
															<div class="tabs tabs-primary">
																<ul class="nav nav-tabs">
																	<li class="active">
																		<a href="#popular1" data-toggle="tab"><i class="fa fa-user"></i> Datos Cliente</a>
																	</li>
																	<li>
																		<a href="#recent1" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Encuestas</a>
																	</li>
																</ul>
																<div class="tab-content">
																	<div id="popular1" class="tab-pane active">
																		<div class="row">
																			<div class="col-md-6 col-sm-6 form-group">
																				<div class="info">
																					<strong class="amount">Cliente: </strong><label id="nombreClienteDetalle"></label>
																				</div>
																			</div>
																			<div class="col-md-6 col-sm-6 form-group">
																				<div class="info">
																					<strong class="amount">DNI - RUC: </strong><label id="documentoPersonaClienteDetalle"></label>
																				</div>
																			</div>
																			<div class="col-md-6 col-sm-6 form-group">
																				<div class="info">
																					<strong class="amount">Correo Electronico: </strong><label id=correoclienteDetalle></label>
																				</div>
																			</div>
																			<div class="col-md-6 col-sm-6 form-group">
																				<div class="info">
																					<strong class="amount">Telefono: </strong><label id="telefonoClienteDetalle"></label>
																				</div>
																			</div>
																			<div class="col-md-12 col-sm-12 form-group">
																				<div class="info">
																					<strong class="amount">Servicios: </strong><label id="serviciosClienteDetalle"></label>
																				</div>
																			</div>
																			<div class="col-md-12 col-sm-12 form-group">
																				<div class="info">
																					<strong class="amount">Responsable: </strong><label id="responsableClienteDetalle"></label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div id="recent1" class="tab-pane">
																		<section class="panel panel-featured panel-featured-primary panel-primary">
																			<header class="panel-heading">
																				<h2 class="panel-title">Herramientas - Cliente</h2>
																			</header>
																			<div class="panel-body">
																				<table class="table table-hover table-striped table-condensed mb-none" id="tablaHerramientasCliente" width="100%">
																					<thead class="text-center">
																						<tr>
																							<th>Herramienta</th>
																							<th>Falta Responder ?</th>
																						</tr>
																					</thead>
																				</table>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
										<div class="col-md-4 form-group">
											<button type="button" id="cancelarAccionDetalle" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-circle-left"></i> Regresar</button>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="modal fade" id="modalFormAgregarReclamo" tabindex="-1" role="dialog" aria-labelledby="myModalLabelHerramienta" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form role="form" method="post">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelHerramienta">Agregar Reclamo</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6 form-group">
												<label for="dniruc">DNI - RUC</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="number" class="form-control input-sm" disabled="disabled" id="dniruc">
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6 form-group">
												<label for="cliente">CLIENTE</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control input-sm" disabled="disabled" id="cliente">
												</div>
											</div>
											<div class="col-md-12 col-sm-12 col-xs-12 form-group">
												<label for="desrecl">Descripcion Reclamo</label>
												<textarea class="form-control" rows="3" id="desrecl"></textarea>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
										<button type="submit" id="guardarreclamo" class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
			   	</div>
	   		</section>
		</div>
		
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/atencion.js}"></script>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/notifications.js}"></script>
</body>

</html>