<!DOCTYPE html>
<html lang="es" class="fixed sidebar-left-collapsed" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<section class="body">
		<!-- start: header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- end: header -->
		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<!-- end: sidebar -->
			<section role="main" class="content-body">
				<div>
					<div class="page-header">
						<h2>
							<a th:href="@{/dashboard}">
								<i class="fa fa-home"></i>
							</a>
						</h2>
						<ol class="breadcrumbs">
							<li class="active">
								<span>Cliente Gestor</span>
							</li>
						</ol>
					</div>
					<!-- start: page -->
					<div class="row">
						<div class="col-md-4 col-lg-4 mb-xs">
							<button type="button" id="buttonReporteGestores" class="btn btn-block btn-sm btn-info"><i class="fa fa-download"></i> Exportar Datos</button>
						</div>
						<div class="col-md-12 col-lg-12">
							<section class="panel panel-featured panel-featured-primary panel-primary">
								<header class="panel-heading">
									<h2 class="panel-title">Listado de Clientes Gestores</h2>
								</header>
								<div class="panel-body">
									<table class="table table-hover table-striped table-condensed mb-none" id="tablaClientesGestores" width="100%">
										<thead class="text-center">
											<tr>
												<th>#</th>
												<th>DNI-RUC</th>
												<th>Cliente</th>
												<th>Direccion</th>
												<th>Gestor Responsable</th>
												<th></th>
											</tr>
										</thead>
									</table>
								</div>
							</section>
						</div>
					</div>
					<div class="modal fade" id="modalFormAsignarGestor" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFormAsignarGestor" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form role="form" method="post">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelFormAsignarGestor">Asignar Gestor Responsable</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6 col-lg-6 form-group">
												<label for="documentoPersonaCliente">DNI-RUC Cliente</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-credit-card"></i>
													</span>
													<input type="text" class="form-control input-sm" id="documentoPersonaCliente" placeholder="Numero Documento">
												</div>
				   							</div>
				   							<div class="col-md-6 col-sm-6 form-group">
												<label for="gestorResponsable">Gestor Responsable</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<select class="form-control populate" id="gestorResponsable"></select>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" id="cancelarModalAsignarGestor" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											<button type="submit" id="guardarAsignarGestor" class="btn btn-primary"><i class="fa fa-check"></i> Asignar Gestor</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal fade" id="modalFormBuscarGestor" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFormBuscarGestor" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form role="form" method="post">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title" id="myModalLabelFormBuscarGestor">Reporte de Clientes por Gestor</h4>
									</div>
									<div class="modal-body">
										<div class="row">
				   							<div class="col-md-12 col-sm-12 form-group">
												<label for="gestorResponsable">Gestor Responsable</label>
												<div class="input-group mb-md">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
													<select class="form-control populate" id="gestoresResponsables"></select>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" id="cancelarModalBuscarGestor" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											<button type="submit" id="buscarGestorReporte" class="btn btn-primary"><i class="fa fa-check"></i> Aceptar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- end: page -->
					<input style="display:none" id="canje" name="canje" value="0"></input>
					<input style="display:none" id="canjes" name="canjes" value="0"></input>
					<input style="display:none" id="canjess" name="canjess" value="0"></input>
				</div>
			</section>
		</div>
	</section>
	<th:block th:replace="fragments/script :: script"></th:block>
	<script type="text/javascript" th:src="@{/assets/javascripts/app/clientesgestores.js}"></script>
</body>
</html>