<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="header" th:fragment="header">
		
			<div class="logo-container">
			
				<a href="/dashboard" class="logo"> 
					
				 
						<img src="https://lh3.googleusercontent.com/Blbv_qqo88mwyy6eqxI6w038cgaXZkoCdRqFMMdNbe2-tP5zrlHD5Ok7NEvKvCetZx3TNQ=s170" height="35" alt="JSOFT Admin" /> 
			 
					
				</a>
				<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
					data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>
		
		
		<!-- start: search & user box -->
		<div class="header-right">
		
			<span class="separator"></span>
			
			<ul class="notifications">
			
				<li class="dropdown notifications-menu">
					<a href="/tarea/tarea/view" class="dropdown-toggle notification-icon" data-toggle="dropdown">
						<i class="fa fa-envelope"></i>
						<span class="badge" id="total"></span>
					</a>
			
					<div class="dropdown-menu notification-menu">
								<div class="notification-title">
									<span class="pull-right label label-default" id="totalidad"></span>
									Mensajes
								</div>

			
								<div class="content">
								
									<ul id="agregarmensajesnoti">
										
									</ul>
			
									<hr />
			
									<div class="text-right">
										<a href="/tarea/tarea/view" class="view-more">View All</a>
									</div>
								</div>
							</div>
						</li>
					
				</ul>
			
			<span class="separator"></span>
			
			<div id="userbox" class="userbox">
				<a href="/dashboard" data-toggle="dropdown">
					<figure class="profile-picture">
						<img src="https://scontent.flim19-1.fna.fbcdn.net/v/t1.0-9/11228509_10205223842547991_347119019958263288_n.jpg?_nc_cat=101&_nc_ht=scontent.flim19-1.fna&oh=9b6239d6844ee3e53687e3d7112bea26&oe=5D5F6E23" alt="Joseph Doe" class="img-circle" th:data-lock-picture="@{/assets/images/!logged-user.jpg}" />
					</figure>
					<div class="profile-info" data-lock-name="Usuario Logeado">
						<span class="name">VIPCHANNEL</span> 
						<span class="role">administrator</span>
					</div> 
					<i class="fa custom-caret"></i>
				</a>
			</div>
		</div>
		<!-- end: search & user box -->
	</header>
	
</body>

</html>