<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside th:fragment="sidebar" id="sidebar-left" class="sidebar-left">
		<div class="sidebar-header">
			<div class="sidebar-title">Navigation</div>
			<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
			</div>
		</div>
		<div class="nano">
			<div class="nano-content">
				<nav id="menu" class="nav-main" role="navigation">
					<ul class="nav nav-main">
						<li class="nav-active">
							<a th:href="@{/dashboard}"> 
								<i class="fa fa-home" aria-hidden="true"></i> 
								<span>Dashboard</span>
							</a>
						</li>
						<li>
							<a href="mailbox-folder.html"> 
								<span class="pull-right label label-primary">182</span> 
								<i class="fa fa-envelope" aria-hidden="true"></i> 
								<span>Mailbox</span>
							</a>
						</li>
						<li class="nav-parent">
							<a>
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								<span>Modulo Personas</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a th:href="@{/usuario/view}"> Usuarios</a>
								</li>
								<li>
									<a th:href="@{/persona/view}">Clientes</a>
								</li>
								<li>
									<a th:href="@{/empleado/view}">Empleados</a>
								</li>
							</ul>
						</li>
						<li class="nav-parent">
							<a> 
								<i class="fa fa-tags" aria-hidden="true"></i> 
								<span>Modulo Servicios</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a th:href="@{/detalleCuenta/generarCuenta/view}"><i class="fa fa-book"></i> Generar Cuenta </a>
								</li>
								<li>
									<a th:href="@{/detalleCuenta/reprogramacion/view}"><i class="fa fa-calendar"></i> Re - Programacion </a>
								</li>
								<li>
									<a href="pages-log-viewer.html"> Log Viewer </a>
								</li>
								<li>
									<a href="pages-search-results.html"> Search Results </a>
								</li>
							</ul>
						</li>
						<li class="nav-parent">
							<a> 
								<i class="fa fa-cubes" aria-hidden="true"></i> 
								<span>Modulo Pagos</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a th:href="@{/pago/pagos}"><i class="fa fa-credit-card"></i> Pagos </a>
								</li>
								<li>
									<a href="ui-elements-icons.html"> Icons </a>
								</li>
								<li>
									<a href="ui-elements-tabs.html"> Tabs </a>
								</li>
								<li>
									<a href="ui-elements-panels.html"> Panels </a>
								</li>
								<li>
									<a href="ui-elements-widgets.html"> Widgets </a>
								</li>
							</ul>
						</li>
						<li class="nav-parent">
							<a> 
								<i class="fa fa-map-marker" aria-hidden="true"></i> 
								<span>Maps</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a href="maps-google-maps.html"> Basic </a>
								</li>
								<li>
									<a href="maps-google-maps-builder.html"> Map Builder </a>
								</li>
								<li>
									<a href="maps-vector.html"> Vector </a>
								</li>
							</ul>
						</li>
						<li class="nav-parent">
							<a> 
								<i class="fa fa-columns" aria-hidden="true"></i> 
								<span>Layouts</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a href="layouts-default.html"> Default </a>
								</li>
								<li>
									<a href="layouts-boxed.html"> Boxed </a>
								</li>
								<li>
									<a href="layouts-menu-collapsed.html"> Menu Collapsed </a>
								</li>
								<li>
									<a href="layouts-scroll.html"> Scroll </a>
								</li>
							</ul>
						</li>
						<li class="nav-parent">
							<a> 
								<i class="fa fa-align-left" aria-hidden="true"></i> 
								<span>Menu Levels</span>
							</a>
							<ul class="nav nav-children">
								<li>
									<a>First Level</a>
								</li>
								<li class="nav-parent">
									<a>Second Level</a>
									<ul class="nav nav-children">
										<li class="nav-parent"><a>Third Level</a>
											<ul class="nav nav-children">
												<li>
													<a>Third Level Link #1</a>
												</li>
												<li>
													<a>Third Level Link #2</a>
												</li>
											</ul>
										</li>
										<li>
											<a>Second Level Link #1</a>
										</li>
										<li>
											<a>Second Level Link #2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</aside>
</body>
</html>